.btn {
    border-radius: 0;
    padding: .75rem 1.75rem;
    font-weight: 700;
}

.btn-padded {
    padding: 0.75rem 5.75rem;
}

.site-module {
    padding: 100px 0;
}

body {
    font: 14px/1.6em 'Josefin Sans', $font-family-sans-serif;
    color: $black;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}