#site-header {
    .topbar {
        border-top: 6px solid $blue;
        font-size: 12px;
        padding: 8px 0;
        border-bottom: 1px solid $bordercolor;
    }
    .navbar {
        box-shadow: 0 4px 6px rgba(#ccc, 0.5);
        border-bottom: 1px solid $bordercolor;
        .nav-item {
            margin-left: 15px;
        }
        a.nav-link {
            color: $black;
            font-weight: 700;
            font-size: 12px;
        }
    }
}

#site-banner {
    padding: 100px 0;
    background: #e3e2e2; /* Old browsers */
    background: linear-gradient(45deg, #e3e2e2 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e2e2', endColorstr='#ffffff',GradientType=1 );
    .banner-content {
        h1 {
            color: $blue;
            font-style: italic;
            margin: 0 0 15px;
        }
        p {
            font-weight: 700;
            margin: 0 0 30px;
        }
    }
}

.collections-grid {
    .collections-grid-item {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #ffffff;
        padding: 50px;
        h2 {
            font-style: italic;
            font-weight: 400;
        }
        * {
            position: relative;
            z-index: 10101;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($black, 0.5);
            z-index: 10100;
            transition: all .25s ease;
            opacity: 1;
        }
        a {
            color: #ffffff;
            text-transform: uppercase;
        }
        &:hover {
            &:before {
                opacity: 0.5;
            }
        }
    }
}

.category-grid {
    .category-grid-item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        padding: 100px 50px;
        color: #ffffff;
        h2 {
            font-style: italic;
            font-weight: 400;
        }
        * {
            position: relative;
            z-index: 10101;
        }
        p {
            font-size: 30px;
            font-weight: 300;
            line-height: 1.3em;
        }
        .btn:hover {
            background-color: $blue;
            color: #ffffff;
            border-color: $blue;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($black, 0.5);
            z-index: 10100;
            transition: all .25s ease;
            opacity: 1;
        }
        &:hover {
            &:before {
                opacity: 0.5;
            }
        }
    }
}

.feature {
    .feature-content {
        h2 {
            border-bottom: 2px solid $blue;
            font-style: italic;
            margin: 0 0 40px;
        }
        h3 {
            margin: 0 0 20px;
        }
        p {
            margin: 0 0 20px;
        }
    }    
}

section.cta {
    color: #ffffff;
    background-color: $brown;
    h2 {
        font-style: italic;
    }
}

section.about {
    h2 {
        border-bottom: 2px solid $blue;
        font-style: italic;
        margin: 0 0 40px;
    }
    ul.brands-list {
        overflow: hidden;
        li {
            max-width: 25%;
            margin: 0;
            float: left;
            padding: 0 5px;
        }
    }
    
}

section.cta-register {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, 0.7);
        z-index: 10100;
    }
    .row {
        position: relative;
        z-index: 10101;
    }
}